
spring:
  application:
    name: customer-service
    r2dbc:
     url: r2dbc:h2:file:///./data/customerdb;MODE=LEGACY
    username: sa
    password:
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true
      path: /h2-console
server:
  port: 8081
